<!DOCTYPE html>
<html lang='fr'>
    <head>

        {% block title %}
        <title>
            R&T DEVELOPMENT
        </title>
        {% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- On ajoute un fichier CSS depuis les statics -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}"/>
        <link rel="icon" href=" {% static 'computerApp/images/rtdev_nice.png' %} ">

    </head>

    <body>
        <h1>
            R&T DEVELOPMENT
        </h1>

        {% block menu %}
        <h2>
            Menu
        </h2>
        <ul id="menu">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'machines' %}">Machines</a></li>
            <li><a href="{% url 'personnels' %}">Personnes</a></li> 
            <li><a href="{% url 'add-machine' %}">Ajouter une machine</a></li>
            <li><a href="{% url 'add-personnel' %}">Ajouter une personne</a></li>
        </ul>
        {% endblock %}

        {% block content %}
            Blabla de la premiere page
        {% endblock %}

        <!-- On ajoute image ici depuis les statics -->
        {% load static %}
        <img src="{% static 'computerApp/images/logo_200px.png' %}" alt="logo" style="width:200px;height:200px;">

    </body>
    
</html>