<!DOCTYPE html>
<html lang='fr'>
    <head>

        {% block title %}
        <title>
            R&T DEVELOPMENT
        </title>
        {% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- On ajoute un fichier CSS depuis les statics -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}"/>
        <link rel="icon" href=" {% static 'computerApp/images/rtdev_nice.png' %} ">

    </head>

    <body>

        {% block menu %}
        <header>
            <div class="navbar">
                <a href="{% url 'index' %}">Accueil</a>
                <a href="{% url 'machines' %}">Équipements</a>
                <a href="{% url 'personnels' %}">Personnel</a>

                <a href="http://127.0.0.1:8000/admin/login/?next=/admin/" class="connexion">Connexion</a>   <!-- Mettre page de connexion -->

            </div>
        </header>

        {% endblock %}

        {% block content %}
        <section>
            <article>
                <p class="title">Bienvenue sur le site web R&T Development.</p>
             </article>
        </section>
        {% endblock %}

        <footer>
            <p>Website made by Maxence Lechevallier-Coussot | All Rights Reserved | Version 0.0.1 2022-2023</p>
        </footer>

    </body>
    
</html>