.page-content {
    min-height: calc(100vh - 56px - 56px);
    margin-bottom: 56px;
    padding-bottom: 10px;
}

.btn-back-to-top {
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 9999;
    display: none;
}