body {
    background-color: rgb(221, 221, 221);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #bbbbbb;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .connexion {
    float: right;
}

.navbar a:hover {
    background: #3892d4;
    color: #ffffff;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 100px;
}

section article {
    color: rgb(0, 0, 0);
    font-size: medium;
    text-align: left;
}

section article a:link {
    color: #3892d4
}

section article a:visited {
    color: #3892d4;
}

.title {
    font-size:large;
    color: #3892d4;
}

.lite_title {
    font-size: large;
}

footer {
    color: rgb(153, 153, 153);
    font-size: medium;
    text-align: center;
    margin-top: 240px; 
    width: 100%;
}