{% extends "index.html" %}

{% block content %}
    <section>
        <article>
            <p class="title">Liste des Équipements</p>
        </article>
    </section>
    {% if machines %}
    <ul>
        {% for machine in machines %}
            <li>
                <a href="{% url 'machine-detail' machine.id %}">{{ machine.id }}</a>
                ({{machine.nom}})
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Il n\ ’y a pas de machines.</p>
    {% endif %}
{% endblock %}