{% extends "index.html" %}

{% block content %}
    <section>
        <article>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        </article>
    </section>
    {% if machines %}
    <ul class="liste">
        {% for machine in machines %}
            <li>
                <a href="{% url 'machine-detail' machine.id %}">{{ machine.id }}</a>
                ({{machine.nom}})
            </li>
        {% endfor %}
        </u>
    {% else %}
        <p>Il n’y a pas de machines.</p>
    {% endif %}
{% endblock %}